.app-container {
  min-height: 100vh;              /* full screen height */
  display: flex;              /* use flexbox */
  justify-content: center;    /* center horizontally */
  align-items: flex-start;        /* Top left vertically */
  background-color: white;  /* optional: white background */
}

.hello-text {
  font-size: 3rem;   /* big text */
  font-weight: bold; /* bold letters */
}